      .container-pvt{
            max-width: 1100px;
            margin: 40px auto;
            background: #ffffff;
            padding: 40px;
            border-radius: 8px;
        }
     .pvtlike {
    font-family: "Arial", sans-serif;
    color: #3e3d3d;
    line-height: 1.8;
}

.pvtlike h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.pvtlike h2 {
    font-size: 22px;
    margin-top: 30px;
    color: #111;
}

.pvtlike p {
    font-size: 16px;
    margin: 12px 0;
}

.pvtlike ul {
    padding-left: 20px;
    margin: 10px 0;
}

.pvtlike ul li {
    font-size: 15px;
    margin-bottom: 8px;
}

.updated {
    font-size: 14px;
    color: #777;
}
